<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTML Review</title>

<!--  container for metadata(is not displayed on the page )
        title, styles(css), link,


-->


</head>

<body>

    <b> Welcome to Java developer course!</b>

    <h1 align="center" style="color: blue">Spring Boot</h1>
    <h2>Spring Boot</h2>
    <h3>Spring Boot</h3>
    <h4>Spring Boot</h4>
    <h5>Spring Boot</h5>

<img src="" alt="Spring boot image">
<ul>
    <li>JAVA</li>
    <li>MVC</li>
    <li>ORM</li>

</ul>

<a href="https://cydeo.com">Cydeo</a>
<br>
<table>
<!--    <thead></thead>-->
<!--    <tbody></tbody>-->
<tr>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Salary</td>
</tr>
<tr>
    <td>Mike</td>
    <td>Smith</td>
    <td>120000</td>
</tr>
</table>

<br>
    <label>Username:</label>
    <input type="text" name="username">
<br>
    <br>
    <label>Password: </label>
    <input type="text" name="password">
<br>
<br>
<label>Enter Your Comments</label>

<textarea name="comments"></textarea>

<br>
<br>

<label>Please select your gender</label>
    <input type="radio" name="gender" value="male">Male
    <input type="radio" name="gender" value="male">Female
    <input type="radio" name="gender" value="male">Other

    <br>
    <br>

    <label>Please select your gender</label>
    <input type="checkbox" name="gender" value="male">Spring
    <input type="checkbox" name="gender" value="male">DS
    <input type="checkbox" name="gender" value="male">Java

    <br>
    <br>

    <label>Select your program</label>
<select>
    <option value="us_sdet">US SDET</option>
    <option value="eu_sdet">EU SDET</option>
    <option value="us_jd">US JD</option>
    <option value="jd_al">JD AL</option>
</select>
<br>
    <br>
<form action="#" method="get">
    First Name: <input type="text" name="firstname">
    <br>
    <br>
    Last Name: <input type="text" name="lastname">

    <br>
    <br>
   <input type="button" value="submit">
</form>

<br><br>

<div style="background-color: aqua">
    <h3>Java Developer</h3>
    <ul>
        <li>Spring</li>
        <li>Data Structures</li>
    </ul>
</div>

</body>
</html>