<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>

</head>

<!--whole body is aligned center-->
<div align="center">
<body>

  MENTOR REGISTRATION FORM!!!

<!--Start of the Form-->
<!--  th:object="${mentor}" ------ to bring the object from controller we need to use th:object-->
<!--  th:action="@{/mentor/confirm}" method="post" ------------ to retrieve values collected from form fields -->
  <form th:action="@{/mentor/confirm}" method="post" th:object="${mentor}">

<!--    First name field  -->
    <label>First Name:</label>
    <input type="text" id="FirstName" th:field="*{firstName}"><br>

    <!--    Last name field  -->
    <label>Last Name:</label>
    <input type="text" id="LastName" th:field="*{lastName}"><br>

    <!--    Email field  -->
    <label>Email:</label>
    <input type="text" id="email" th:field="*{email}"><br>


    <!--    Graduated field  -->
    <label>Graduated:</label>
    <input type="checkbox" th:field="*{graduated}"><br>


    <!--    Gender radio field  -->
    <label>Gender:</label>
    <input type="radio" value="Male" th:field="*{gender}">Male
    <input type="radio" value="Male" th:field="*{gender}">Female<br>


    <!--    Batch Number dropdown field  -->
    <label>Batch Number:</label>
    <select th:field="*{batch}">
      <option th:each="theBatch : ${batchList}" th:value="${theBatch}" th:text="${theBatch}"></option>
    </select><br>

      <!--    Company text area field  -->
      <label>Company:</label>
      <textarea th:field="*{company}"></textarea><br>

    <!-- Submit button-->
      <button type="submit">Register</button>




  </form>

</body>
</div>
</html>